#MainArea {
	width: 60%;
	height: 488px;
	float: left;
	margin-right: 5%;
}

#MainArea a {
	text-decoration: underline;
	margin-bottom: 10px;
}

#MainArea textarea {
	height: 400px;
	width: 100%;
	resize: none;
}

#ResultWindow {
	width: 30%;
	height: 400px;
	float: left;
	margin-top: 79px;
}

#ResultWindow #ResultData {
	width: 100%;
	height: 400px;
	float: left;
	border: solid 1px lightgray;
}