html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
html {
        background: url(images/bg11.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
}
body {
        /*background-color: #CCC;*/
        height: 100%
}
img {
        margin: 20px;
}
#MainArea {
        background-color: #3574A7;
        border: 5px outset #36C;
        width: 98%;
        height: 600px;
        margin-left: 1%;
        margin-right: 1%;
}
#MainArea a {
        text-decoration: underline;
        margin-bottom: 10px;
}
#MainArea #MethodCalls {
        width: 99%;
        height: 20%;
        font-family: 'Oxygen Mono', sans-serif;
        border: 3px inset #CCC;
        border-top: none;
        float: left;
        resize: none;
        overflow:auto;
}

#PythonCode {
        width: 99%;
        height: 70%;
        font-family: 'Oxygen Mono', sans-serif;
        border: 3px inset #CCC;
        border-bottom: none;
        float: left;
        resize: none;
        overflow:auto;

}
#ResultData {
        width: 99%;
        height: 46%;
        border: 3px inset #CCC;
        float: left;
        resize: none;
        overflow: auto;
        background: white;
}

#TestResultGrid {
        margin-top: 2%;
        border: 3px inset #CCC;
        width: 99%;
        float: left;
        background: white;
}

#TestResultGrid ol {
        list-style-type: none;
        width: 32%;
        float: left;
}

.PythonCodeWrap {
        width: 46%;
        height: 90%;
        margin-left: 3%;
        margin-right: 2%;
        margin-top: 2%;
        float: left;
}
.DebugResultWrap {
        width: 46%;
        height: 90%;
        margin-right: 2%;
        margin-top: 2%;
        float: left;
}
#startDebugging {

}
#TakeStep {
        display: block;
}
textarea:focus {
        border: 5px inset #0F0;
        background-color: #F3F3F3;
}
