{% if exerciseList %}
    <ul>
    {% for exercise in exerciseList %}
        <li class='exercise' data-exerciseid='{{ exercise.id }}'>{{ exercise.name }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No exercises are available.</p>
{% endif %}

<script type="text/javascript">
	$('.exercise').click(function() {
		id = $(this).data('exerciseid');
		$.get('/Exercise/load/' + id, function(exercise) {
			loadExercise(exercise);
 		});
	});

	var loadExercise = 	function(exercise) {
		var methodBody = exercise.MethodBody
		var methodCalls = exercise.MethodCalls

		var methodCallText = "";
		var index = 0;

		var methodResult = function() {
			index = index + 1;
			return 'unitTestResult' + index + ' = ';
		};

		for (var method in methodCalls) {
			var methodAnswer = ' #expected: ' + methodCalls[method]
			methodCallText += methodResult() + method.toString() + methodAnswer + "\n";
		};

		$('#PythonCode').text(methodBody);
		$('#MethodCalls').text(methodCallText);

		$('#Exercises').dialog('close')
	};



</script>