<link href="{{ STATIC_URL }}styles/site.css" rel="stylesheet" type="text/css">
<link href="{{ STATIC_URL }}styles/jqueryUI/jquery.ui.all.css" rel="stylesheet" type="text/css">
<link href="{{ STATIC_URL }}styles/jqueryUI/jquery-ui-1.8.23.custom.css" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Oxygen+Mono' rel='stylesheet' type='text/css'>

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.ui.core.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.ui.widget.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.ui.mouse.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.ui.position.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.ui.dialog.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/kendo.all.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/underscore-min.js"></script>

<!-- Code mirror theme stylesheets -->
<link rel="stylesheet" href="{{ STATIC_URL }}codemirror-2.35/theme/neat.css">
<link rel="stylesheet" href="{{ STATIC_URL }}codemirror-2.35/lib/codemirror.css">

<!-- Code mirror javascript files -->
<script src="{{ STATIC_URL }}codemirror-2.35/lib/codemirror.js"></script>
<script src="{{ STATIC_URL }}codemirror-2.35/mode/python/python.js"></script>

<div id="header">
	<h1>Python Instructor</h1>
	<img src="{{ STATIC_URL }}styles/images/headerbar.jpg" alt="headBar" class="headBar" />
	<img src="{{ STATIC_URL }}styles/images/python-logo_tn.png" alt="logo" class="logo" />
</div>

<div id="Exercises" title="Exercises"></div>

<div id="MainArea">
        <p>Enter your Python snippet below or select an example.<br/>
           <a id="ClearAll">Clean Slate</a> or 
           <a id="SimpleDemo">Simple Example</a> or 
           <a id="DisplayAllExercises">Choose an Exercise</a>
        </p>
        <div class="PythonCodeWrap">
                <input id="startDebugging" type="button" value="Start Debugging">
				<textarea name="PythonCode" id="PythonCode"></textarea>
				<textarea id="MethodCalls" readonly="readonly"></textarea>

                <input id="runAll" type="button" value="Execute Code">
                <div class="pythonCodeContainer">
                  <textarea name="PythonCode" class="PythonCode" id="PythonCode"></textarea>
                </div>
                <div class="methodCallContainer">
                  <textarea id="MethodCalls" readonly="readonly"></textarea>
                </div>
        </div>

        <div class="DebugResultWrap">
                <input id="TakeStep" type="button" value="Next Step">
                <textarea id="ResultData"></textarea>
                <div id="TestResultGrid" >
                  <span>Test</span>
                  <span>Expected Result</span>
                  <span>Acutual Result</span>
                  <ol class="testColumn" 
                      data-role="listview" 
                      data-bind="source: UnitTests" 
                      data-template="test-grid-name">
                  </ol>
                  <ol class="expectedResultColumn" 
                      data-role="listview" 
                      data-bind="source: UnitTests" 
                      data-template="test-grid-expectedResult">
                  </ol>
                  <ol class="actualResultColumn" 
                      data-role="listview" 
                      data-bind="source: UnitTests" 
                      data-template="test-grid-actualResult">
                  </ol>
                </div>
        </div>
</div>

<script>
var pythonCodeEditor = CodeMirror.fromTextArea(document.getElementById("PythonCode"), {
  mode: "text/x-python",
  lineNumbers: true,
  lineWrapping: false,
  theme: "neat",
  onChange: function() {
    // refresh line numbers
    unitTestEditor.setOption("lineNumbers", true);
  }
});

var unitTestEditor = CodeMirror.fromTextArea(document.getElementById("MethodCalls"), {
  mode: "text/x-python",
  lineNumbers: true,
  lineWrapping: false,
  theme: "neat",
  readOnly: true,
  lineNumberFormatter: function(lineNumber) {
      return lineNumber + pythonCodeEditor.lineCount()
  }
});

var currentLine = pythonCodeEditor.getLineHandle(0);
</script>


<script type="text/javascript" src="{{ STATIC_URL }}js/unitTests.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/workbenchViewModel.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/exercise.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/debugger.js"></script>

<script type="text/x-kendo-template" id="test-grid-name">
  <li>#= data.name#</li>
</script>
<script type="text/x-kendo-template" id="test-grid-expectedResult">
  <li>#= data.expectedResult#</li>
</script>
<script type="text/x-kendo-template" id="test-grid-actualResult">
  <li>#= data.actualResult#</li>
</script>

<script>
      kendo.bind("#TestResultGrid", workbenchViewModel);
</script>