<link href="{{ STATIC_URL }}styles/site.css" rel="stylesheet" type="text/css">
<link href="{{ STATIC_URL }}styles/jqueryUI/jquery.ui.all.css" rel="stylesheet" type="text/css">
<link href="{{ STATIC_URL }}styles/jqueryUI/jquery-ui-1.8.23.custom.css" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Oxygen+Mono' rel='stylesheet' type='text/css'>

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.ui.core.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.ui.widget.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.ui.mouse.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.ui.position.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.ui.dialog.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/kendo.all.min.js"></script>

<img src="{{ STATIC_URL }}styles/images/python-instruc-logo.png" class="shadow" width="376" height="148" alt="logo">

<div id="Exercises" title="Exercises"></div>

<div id="MainArea">
        <p>Enter your Python snippet below or select an example.<br/>
           <a id="ClearAll">Clean Slate</a> or 
           <a id="SimpleDemo">Simple Example</a> or 
           <a id="DisplayAllExercises">Choose an Exercise</a>
        </p>
        <div class="PythonCodeWrap">
                <input id="startDebugging" type="button" value="Start Debugging">
                <textarea name="PythonCode" id="PythonCode"></textarea>
                <textarea id="MethodCalls" readonly="readonly"></textarea>
        </div>

        <div class="DebugResultWrap">
                <input id="TakeStep" type="button" value="Next Step">
                <div id="ResultData"></div>
                <div id="TestResultGrid">
                  <ol class="testColumn">Test</ol>
                  <ol class="expectedResultColumn">Expected Result</ol>
                  <ol class="actualResultColumn">Acutual Result</ol>
                </div>
        </div>
</div>

<script type="text/javascript" src="{{ STATIC_URL }}js/exercise.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/debugger.js"></script>

<script type="text/javascript">
	$(window).bind('load resize', function(e){
  		if (e.type === 'resize'){
   		 	$('.drop_shadow_layer').remove();
  		}

		$('.shadow').each(function(){
  
	  	$('<div class="drop_shadow_layer">').appendTo($('body')).css({
			position: 'absolute',
			width: $(this).width() + 'px',
			height: $(this).height() + 'px',
			backgroundColor: '#353535',
			zIndex: -5000,
			top: ($(this).offset().top + 5) + 'px',
			left: ($(this).offset().left + 5) + 'px'
	  });
	  
	});

});
</script>