<LINK href="{{ STATIC_URL }}styles/site.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>

<div id="MainArea">
	<p>Enter your Python snipit below:</p>
	<textarea name="PythonCode" id="PythonCode"></textarea>
	<input id="startDebugging" type="button" value="Start Debugging"><br/>
	<input id="TakeStep" type="button" value="Next Step"><br/>
</div>

<div id="ResultData"><p>Display debugger results here.</p></div>

<script type="text/javascript">
	$('#startDebugging').click(function() {
		pythonCode = { pythonCode: $('#PythonCode').val() };
		$.get('/student/startDebugging', pythonCode, function(data) {
			displayResultData(data)
 		});
	});

	$("#TakeStep").click(function() {
	  $.get('/student/takeStep', function(data) {
			displayResultData(data)
 		});
	});

	var displayResultData = function(data) {
		$('#ResultData').text(data);
	}
</script>