<link rel="stylesheet" href="{{ STATIC_URL }}styles/site.css">
<link rel="stylesheet" href="{{ STATIC_URL }}styles/jqueryUI/jquery.ui.all.css">
<link rel="stylesheet" href="{{ STATIC_URL }}styles/jqueryUI/jquery-ui-1.8.23.custom.css">>
<link rel="stylesheet" href="{{ STATIC_URL }}codemirror-2.35/lib/codemirror.css">
<link rel="stylesheet" href="{{ STATIC_URL }}codemirror-2.35/theme/neat.css">

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery-ui.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}codemirror-2.35/lib/codemirror.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}codemirror-2.35/mode/python/python.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/underscore-min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/kendo.all.min.js"></script>


<div id="header">
	<h1>Python Workbench</h1>
	<img src="{{ STATIC_URL }}styles/images/headerbar.jpg" alt="headBar" class="headBar" />
	<img src="{{ STATIC_URL }}styles/images/python-logo_tn.png" alt="logo" class="logo" />
</div>

<div id="Exercises" title="Exercises"></div>

<div id="MainArea">
        <p>Enter your Python snippet below or select an example.<br/>
           <a id="ClearAll">Clean Slate</a> or 
           <a id="SimpleDemo">Simple Example</a> or 
           <a id="DisplayAllExercises">Choose an Exercise</a>
        </p>
        <div class="PythonCodeWrap">
                <input id="startDebugging" type="button" value="Start Debugging">
                <div class="pythonCodeContainer">
                  <textarea name="PythonCode" class="PythonCode" id="PythonCode"></textarea>
                </div>
                <div class="methodCallContainer" data-bind="style: { display: ifThereAreUnitTests }">
                  <textarea id="MethodCalls" readonly="readonly"></textarea>
                </div>
        </div>

        <div class="DebugResultWrap">
                <input id="TakeStep" type="button" value="Next Step">
                <div id="ResultData"></div>
                <div id="TestResultGrid" data-bind="style: { display: ifThereAreUnitTests }" >
                  <ol>
                    <li class="header">
                      <span class="testNameColumn">Test</span>
                      <span class="resultColumn">Expected</span>
                      <span class="resultColumn">Acutual</span>
                    </li>
                  </ol>
                  <ol data-role="listview" 
                      data-bind="source: UnitTests" 
                      data-template="test-grid-results">
                  </ol>
                </div>
        </div>
</div>

<script type="text/javascript" src="{{ STATIC_URL }}js/codeMirrorEditors.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/unitTests.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/workbenchViewModel.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/exercise.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/debugger.js"></script>

<script type="text/x-kendo-template" id="test-grid-results">
  # var testResult = workbenchViewModel.unitTestResult(data) #
  <li class=#= testResult #> 
    <span class="testNameColumn">#= data.name #</span>
    <span class="resultColumn">#= data.expectedResult #</span>
    <span class="resultColumn">#= data.actualResult # &nbsp;</span>
  </li>
</script>

<script>
      kendo.bind("#MainArea", workbenchViewModel);
</script>